.nav-bar {
    background-color: rgb(26, 58, 240);
    padding: .5rem 1rem .5rem 1rem;
}
.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: gray;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item a {
    color: white;
}