.container {
   height: 100vh;
   margin: 0;
   display: flex;
}
.column-left {
    display: flex;
    margin: 0;
    overflow: auto;
    flex: 1;
    flex-direction: column;
}

.column-right {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex: 3;
    flex-direction: column;
}