.navBar {
    padding: 1rem 2rem;
    background-color: #ffc515;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-right: 2rem;
}

.nav-item a { 
    color: inherit;
    font-weight: bold;
}

.nav-item  a:hover {
    color: #fff;
}