.container {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgb(171, 0, 0);
    color: white;
}

.title {
    // font-size: 1.15rem;
}
.nav-bar {
    flex: 1;
    padding-left: 2rem;
}
.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: gray;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item a {
    color: white;
}