.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 0rem 0;

    a {
        display: block;
        text-decoration: none;
    }

    a:hover {
        background: #bdebff;
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #000;
        font-size: .8rem;
        font-style: normal;
    }
}