.container {
   height: 100%;
   overflow: hidden;
   margin: 0px;
   display: flex;
   box-sizing: border-box;
}
.column-left {
    height: 100%;
    display: flex;
    flex: 1;
    max-width: 300px;
    flex-direction: column;
}

.column-right {
    height: 100%;
    display: flex;
    flex: 2;
    flex-direction: column;
}

.bottom {
    flex-grow: 1;
    overflow-y: auto;
}