// TODO: Fix layout CSS

.container {
   height: 100%;
   overflow: hidden;
   margin: 0px;
   display: flex;
   box-sizing: border-box;
}
.column-left {
    height: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.column-right {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.bottom {
    flex-grow: 1;
    overflow-y: auto;
}